.bottlesContainer{
    display: grid;;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card{
    border: 2px solid rgb(142, 24, 24);
    border-radius: 8px;
    padding: 12px;
    margin: 16px;
}